*{
    padding: 0;
    margin: 0;
}
body{
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  /* align-items: center;
  margin: 0 auto; */
}
.wrap{
    background-color: hsl(0, 0%, 100%);
    max-width: 300px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid;
    box-shadow: 7px 7px black;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.cardimage{
    border-radius: 15px;
    width: 100%;
}
h5{
    font-size: 15px;
}
h2{
    font-size: 24px;
    color: hsl(0, 0%, 7%);
}
h2:hover{
    color:hsl(47, 88%, 63%);
    cursor: pointer;
}
.catagory{
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    width: 80px;
    padding: 4px;
    text-align: center;
    border-radius: 5px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10;
}
.date{
    opacity: 0.7;
}
p{
    color: hsl(0, 0%, 50%);
    font-weight: 500;
}
.cardautor{
    display: flex;
    align-items: center;
}
.avator{
    width: 30px;
    margin-right: 15px;

}